<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="headerTag :: headerFragment" >
	<title>Accueil</title>
</head>
<body>
	<div id="wrapper" >
		<header th:replace="~{head}" id="header">
		</header>
		
		<main id="main">
			<section class="banner bg-full overlay" style="background-image: url(images/img01.jpg);">
				<div class="holder">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 text-left">
								<h1 class="text-uppercase">It looks like it's <br class="hidden-xs">been furnished <br class="hidden-xs">by <span class="clr">discount</span> <br class="hidden-xs">stores.</h1>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="latest-coupon container pad-top-lg pad-bottom-md">
				<div class="row">
					<header class="col-xs-12 text-center header">
						<h2 class="heading">Les Récents Codes Coupons & Offres </h2>
					</header>
				</div>
				<div class="row">
					<th:block th:each="produitActif,iterStat : ${produitsActifs}">
								<div class="col-xs-12 col-sm-6 col-md-3">						
									<div class="coupon-box mar-bottom-xs">
										<div class="img-holder">
											<img src="images/img02.jpg" alt="image description" class="img-resposnive">
										</div>
										<div class="txt-holder">
											<h3 class="heading6"><a th:href="@{'/offre/' + ${produitActif.id}}"><th:block th:text="${produitActif.nom}"></th:block></a></h3>
											<a sec:authorize="!hasAuthority('ENTREPRENEUR')" id="btnAjoutPanier" th:href="@{'/validerCommande/promotion/' + ${produitActif.id}}" class="btn-primary md-round text-center text-uppercase">Acheter</a>
											<time class="time text-center" datetime="2017-02-03 20:00">Echu à : <th:block th:text="${produitActif.dateFin}"></th:block></time>
										</div>
									</div>
								</div>
					</th:block>
				</div>				
			</section>
			<section class="counter-sec bg-ful overlay pad-top-sm pad-bottom-xs" style="background-image: url(images/img24.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-3 text-center mar-bottom-xs">
							<span class="icon"><i class="icon-user2"></i></span>
							<strong class="counter" th:text="${totalClients}"></strong>
							<span class="sub-title">Clients Enregistrés</span>
						</div>
						<div class="col-xs-12 col-sm-3 text-center mar-bottom-xs">
							<span class="icon"><i class="icon-scissors"></i></span>
							<strong class="counter" th:text="${totalCommandes}"></strong>
							<span class="sub-title">Commandes Effectuées</span>
						</div>
						<div class="col-xs-12 col-sm-3 text-center mar-bottom-xs">
							<span class="icon"><i class="icon-add"></i></span>
							<strong class="counter" th:text="${totalProduits}"></strong>
							<span class="sub-title">Offres Déposées</span>
						</div>
						<div class="col-xs-12 col-sm-3 text-center mar-bottom-xs">
							<span class="icon"><i class="icon-store"></i></span>
							<strong class="counter" th:text="${totalEntrepreneur}"></strong>
							<span class="sub-title">Entrepreneurs Enregistrés</span>
						</div>
					</div>
				</div>
			</section>
			<section class="store-sec bg-grey pad-top-lg pad-bottom-lg">
				<div class="container">
					<div class="row">
						<header class="col-xs-12 text-center header">
							<h3 class="heading">Plus que <span class="clr"><th:block th:text="${totalEntrepreneur}"></th:block>+ Entrepreneurs</span> dans une seule place!</h3>
						</header>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<ul class="list-unstyled store-logo">
							<th:block th:each="entrepreneur : ${entrepreneurs}">
								<li><a th:href="@{'/entrepreneur/'+${entrepreneur.id}}"><img src="images/logo01.png" alt="LOGO" class="img-responsive"></a></li>
							</th:block>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</main>
		
		<footer th:replace="~{footer}" id="footer" >
		</footer>
		
		<span id="back-top" class="text-center md-round fa fa-angle-up"></span>
		<div id="loader" class="loader-holder">
			<div class="block"><img th:src="@{/images/svg/bars.svg}" width="60" alt="loader"></div>
		</div>	
	</div> 
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/plugins.js}"></script>
	<script th:src="@{/js/jquery.main.js}"></script>
</body>
</html>