<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="headerTag :: headerFragment" >
	<title>Accueil</title>
</head>
<body>
	<div id="wrapper" >
		<header th:replace="~{head}" id="header">
		</header>
		<main id="main">
			<section class="latest-coupon container pad-top-lg pad-bottom-md">
				<strong>Mes commandes :</strong>
				<br><br>
				<table class="table table-hover">
							<thead>
								<tr>
									<th>Offre</th>
									<th>Quantité</th>
									<th>Date de Commande</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="commande : ${mesCommandes}">
									<td th:text="${commande.produit.nom}"></td>
									<td th:text="${commande.quantite}"></td>
									<td th:text="${commande.dateCommande}"></td>
								</tr>
							</tbody>
				</table>						
			</section>
		</main>
		
		<footer th:replace="~{footer}" id="footer" >
		</footer>
		
		<span id="back-top" class="text-center md-round fa fa-angle-up"></span>
		<div id="loader" class="loader-holder">
			<div class="block"><img th:src="@{/images/svg/bars.svg}" width="60" alt="loader"></div>
		</div>	
	</div> 
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/plugins.js}"></script>
	<script th:src="@{/js/jquery.main.js}"></script>
</body>
</html>