<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="headerTag :: headerFragment" >
	<title>Connexion</title>
</head>
<body>
	<div id="wrapper" >
		<header th:replace="~{head}" id="header">
		</header>
		
		<main id="main">
			<!-- banner of the page -->
			<section class="banner banner3 bg-full overlay" style="background-image: url(images/img30.jpg);">
				<div class="holder">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 text-center">
								<h1>Login</h1>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<div class="twocolumns pad-top-lg pad-bottom-lg">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<!-- Register holder of the page -->
							<div class="register-holder">
								<div class="txt-holder">
									<h3 class="heading2">Connectez-vous maintenant!</h3>
									<p>Entrez vos détails pour se connecter</p>
									<form autocomplete="off" th:action="@{/login}" method="POST" class="register-form">
										<fieldset>
											<input type="text" class="form-control" name="login" placeholder="Login *">
											<input type="password" class="form-control" name="motDePasse" placeholder="Mot de passe *">
											<div align="center" th:if="${param.error != null}" >
												<p style="font-size: 20; color: #FF1C19;" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}" ></p>
											</div>
											<button type="submit" class="btn-primary text-center text-uppercase">Se connecter</button>
										</fieldset>
									</form>
								</div>
								<div class="img-holder">
									<img th:src="@{/images/img63.jpg}" alt="image description" class="img-responsive">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		
		<footer th:replace="~{footer}" id="footer" >
		</footer>
		
		<span id="back-top" class="text-center md-round fa fa-angle-up"></span>
		<div id="loader" class="loader-holder">
			<div class="block"><img th:src="@{/images/svg/bars.svg}" width="60" alt="loader"></div>
		</div>	
	</div> 
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/plugins.js}"></script>
	<script th:src="@{/js/jquery.main.js}"></script>
</body>
</html>